<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>calt</key>
  <array>
    <string>alefabove-ar</string>
    <string>dotaboveSymbol-ar</string>
    <string>dotbelowSymbol-ar</string>
    <string>twodotshorizontalaboveSymbol-ar</string>
    <string>twodotshorizontalbelowSymbol-ar</string>
    <string>threedotsupaboveSymbol-ar</string>
    <string>threedotsupbelowSymbol-ar</string>
    <string>threedotsdownaboveSymbol-ar</string>
    <string>threedotsdownbelowSymbol-ar</string>
    <string>fourdotsaboveSymbol-ar</string>
    <string>fourdotsbelowSymbol-ar</string>
    <string>doubleverticalbarbelowSymbol-ar</string>
    <string>twodotsverticalaboveSymbol-ar</string>
    <string>twodotsverticalbelowSymbol-ar</string>
    <string>ringSymbol-ar</string>
    <string>tahaboveSymbol-ar</string>
    <string>tahbelowSymbol-ar</string>
    <string>fathatan-ar</string>
    <string>dammatan-ar</string>
    <string>kasratan-ar</string>
  </array>
  <key>calt2</key>
  <array>
    <string>H-twodotbelow.mrk</string>
    <string>threedotbelow.mrk</string>
    <string>alefabove-ar</string>
    <string>dotaboveSymbol-ar</string>
    <string>dotbelowSymbol-ar</string>
    <string>twodotshorizontalaboveSymbol-ar</string>
    <string>twodotshorizontalbelowSymbol-ar</string>
    <string>threedotsupaboveSymbol-ar</string>
    <string>threedotsupbelowSymbol-ar</string>
    <string>threedotsdownaboveSymbol-ar</string>
    <string>threedotsdownbelowSymbol-ar</string>
    <string>fourdotsaboveSymbol-ar</string>
    <string>fourdotsbelowSymbol-ar</string>
    <string>doubleverticalbarbelowSymbol-ar</string>
    <string>twodotsverticalaboveSymbol-ar</string>
    <string>twodotsverticalbelowSymbol-ar</string>
    <string>ringSymbol-ar</string>
    <string>tahaboveSymbol-ar</string>
    <string>tahbelowSymbol-ar</string>
    <string>fathatan-ar</string>
    <string>dammatan-ar</string>
    <string>kasratan-ar</string>
  </array>
  <key>calt3</key>
  <array>
    <string>V-twodotbelow.mrk</string>
    <string>threedotbelow.mrk.ss01</string>
    <string>alefabove.mrk</string>
    <string>dotabove.mrk</string>
    <string>dotbelow.mrk</string>
    <string>H-twodotabove.mrk</string>
    <string>H-twodotbelow.mrk</string>
    <string>threedotabove.mrk</string>
    <string>threedotbelow.mrk</string>
    <string>R-threedotabove.mrk</string>
    <string>R-threedotbelow.mrk</string>
    <string>fourdotabove.mrk</string>
    <string>fourdotbelow.mrk</string>
    <string>V-twodotbelow.mrk</string>
    <string>V-twodotabove.mrk</string>
    <string>V-twodotbelow.mrk</string>
    <string>ring.mrk</string>
    <string>tahabove.mrk</string>
    <string>tahbelow.mrk</string>
    <string>fathatan.mrk</string>
    <string>dammatan.mrk</string>
    <string>kasratan.mrk</string>
  </array>
  <key>calt5</key>
  <array>
    <string>alef.fina.skl</string>
    <string>behDotless.init.skl</string>
    <string>behDotless.medi.skl</string>
    <string>hah.init.skl</string>
    <string>hah.medi.skl</string>
    <string>seen.init.skl</string>
    <string>seen.medi.skl</string>
    <string>sad.init.skl</string>
    <string>sad.medi.skl</string>
    <string>tah.init.skl</string>
    <string>tah.medi.skl</string>
    <string>ain.init.skl</string>
    <string>ain.medi.skl</string>
    <string>keheh.init.skl</string>
    <string>keheh.medi.skl</string>
    <string>lam.init.skl</string>
    <string>lam.medi.skl</string>
    <string>meem.init.skl</string>
    <string>meem.medi.skl</string>
    <string>heh.init.skl</string>
    <string>heh.medi.skl</string>
    <string>fehDotless.init.skl</string>
    <string>fehDotless.medi.skl</string>
  </array>
  <key>calt6</key>
  <array>
    <string>alef.fina.skl.ss01</string>
  </array>
</dict>
</plist>
