<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>H-threedotbelow.mrk</key>
  <string>H_-threedotbelow.mrk.glif</string>
  <key>H-twodotabove.mrk</key>
  <string>H_-twodotabove.mrk.glif</string>
  <key>H-twodotbelow.mrk</key>
  <string>H_-twodotbelow.mrk.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>R-threedotabove.mrk</key>
  <string>R_-threedotabove.mrk.glif</string>
  <key>R-threedotbelow.mrk</key>
  <string>R_-threedotbelow.mrk.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>V-twodotabove.mrk</key>
  <string>V_-twodotabove.mrk.glif</string>
  <key>V-twodotbelow.mrk</key>
  <string>V_-twodotbelow.mrk.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aboweyeh.mrk</key>
  <string>aboweyeh.mrk.glif</string>
  <key>ae-ar</key>
  <string>ae-ar.glif</string>
  <key>ain-ar</key>
  <string>ain-ar.glif</string>
  <key>ain.fina.skl</key>
  <string>ain.fina.skl.glif</string>
  <key>ain.init.skl</key>
  <string>ain.init.skl.glif</string>
  <key>ain.isol.skl</key>
  <string>ain.isol.skl.glif</string>
  <key>ain.medi.skl</key>
  <string>ain.medi.skl.glif</string>
  <key>ainThreedots-ar</key>
  <string>ainT_hreedots-ar.glif</string>
  <key>ainThreedotsbelow-ar</key>
  <string>ainT_hreedotsbelow-ar.glif</string>
  <key>ainThreedotsdownabove-ar</key>
  <string>ainT_hreedotsdownabove-ar.glif</string>
  <key>ainTwodotshorizontalabove-ar</key>
  <string>ainT_wodotshorizontalabove-ar.glif</string>
  <key>ainTwodotsverticalabove-ar</key>
  <string>ainT_wodotsverticalabove-ar.glif</string>
  <key>alef-ar</key>
  <string>alef-ar.glif</string>
  <key>alef.fina.skl</key>
  <string>alef.fina.skl.glif</string>
  <key>alef.fina.skl.ss01</key>
  <string>alef.fina.skl.ss01.glif</string>
  <key>alef.isol.skl</key>
  <string>alef.isol.skl.glif</string>
  <key>alefHamzaabove-ar</key>
  <string>alefH_amzaabove-ar.glif</string>
  <key>alefHamzabelow-ar</key>
  <string>alefH_amzabelow-ar.glif</string>
  <key>alefMadda-ar</key>
  <string>alefM_adda-ar.glif</string>
  <key>alefMaksura-ar</key>
  <string>alefM_aksura-ar.glif</string>
  <key>alefMaksura-ar.fina</key>
  <string>alefM_aksura-ar.fina.glif</string>
  <key>alefMaksura-ar.isol</key>
  <string>alefM_aksura-ar.isol.glif</string>
  <key>alefWasla-ar</key>
  <string>alefW_asla-ar.glif</string>
  <key>alefWavyhamzaabove-ar</key>
  <string>alefW_avyhamzaabove-ar.glif</string>
  <key>alefWavyhamzabelow-ar</key>
  <string>alefW_avyhamzabelow-ar.glif</string>
  <key>alefabove-ar</key>
  <string>alefabove-ar.glif</string>
  <key>alefabove.mrk</key>
  <string>alefabove.mrk.glif</string>
  <key>alefbelow.mrk</key>
  <string>alefbelow.mrk.glif</string>
  <key>aleflow-ar</key>
  <string>aleflow-ar.glif</string>
  <key>allah-ar</key>
  <string>allah-ar.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>bar.mrk</key>
  <string>bar.mrk.glif</string>
  <key>beeh-ar</key>
  <string>beeh-ar.glif</string>
  <key>beh-ar</key>
  <string>beh-ar.glif</string>
  <key>behDotless-ar</key>
  <string>behD_otless-ar.glif</string>
  <key>behDotless.fina.skl</key>
  <string>behD_otless.fina.skl.glif</string>
  <key>behDotless.init.skl</key>
  <string>behD_otless.init.skl.glif</string>
  <key>behDotless.init.skl.ss02</key>
  <string>behD_otless.init.skl.ss02.glif</string>
  <key>behDotless.isol.skl</key>
  <string>behD_otless.isol.skl.glif</string>
  <key>behDotless.medi.skl</key>
  <string>behD_otless.medi.skl.glif</string>
  <key>behMeemabove-ar</key>
  <string>behM_eemabove-ar.glif</string>
  <key>behThreedotshorizontalbelow-ar</key>
  <string>behT_hreedotshorizontalbelow-ar.glif</string>
  <key>behThreedotsupabove-ar</key>
  <string>behT_hreedotsupabove-ar.glif</string>
  <key>behThreedotsupbelow-ar</key>
  <string>behT_hreedotsupbelow-ar.glif</string>
  <key>behTwodotsbelowDotabove-ar</key>
  <string>behT_wodotsbelowD_otabove-ar.glif</string>
  <key>behVabove-ar</key>
  <string>behV_above-ar.glif</string>
  <key>behVbelow-ar</key>
  <string>behV_below-ar.glif</string>
  <key>behVinvertedbelow-ar</key>
  <string>behV_invertedbelow-ar.glif</string>
  <key>beheh-ar</key>
  <string>beheh-ar.glif</string>
  <key>behhamzaabove-ar</key>
  <string>behhamzaabove-ar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>circledotted</key>
  <string>circledotted.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>comma-ar</key>
  <string>comma-ar.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dad-ar</key>
  <string>dad-ar.glif</string>
  <key>dadDotbelow-ar</key>
  <string>dadD_otbelow-ar.glif</string>
  <key>dahal-ar</key>
  <string>dahal-ar.glif</string>
  <key>dal-ar</key>
  <string>dal-ar.glif</string>
  <key>dal.fina.skl</key>
  <string>dal.fina.skl.glif</string>
  <key>dal.isol.skl</key>
  <string>dal.isol.skl.glif</string>
  <key>dalDotbelow-ar</key>
  <string>dalD_otbelow-ar.glif</string>
  <key>dalDotbelowTah-ar</key>
  <string>dalD_otbelowT_ah-ar.glif</string>
  <key>dalFourdots-ar</key>
  <string>dalF_ourdots-ar.glif</string>
  <key>dalRing-ar</key>
  <string>dalR_ing-ar.glif</string>
  <key>dalThreedotsbelow-ar</key>
  <string>dalT_hreedotsbelow-ar.glif</string>
  <key>dalThreedotsdown-ar</key>
  <string>dalT_hreedotsdown-ar.glif</string>
  <key>dalTwodotsverticalbelowTah-ar</key>
  <string>dalT_wodotsverticalbelowT_ah-ar.glif</string>
  <key>dalVinvertedabove-ar</key>
  <string>dalV_invertedabove-ar.glif</string>
  <key>dalVinvertedbelow-ar</key>
  <string>dalV_invertedbelow-ar.glif</string>
  <key>damma.mrk</key>
  <string>damma.mrk.glif</string>
  <key>dammatan-ar</key>
  <string>dammatan-ar.glif</string>
  <key>dammatan.mrk</key>
  <string>dammatan.mrk.glif</string>
  <key>ddahal-ar</key>
  <string>ddahal-ar.glif</string>
  <key>ddal-ar</key>
  <string>ddal-ar.glif</string>
  <key>decimalseparator-ar</key>
  <string>decimalseparator-ar.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotabove.mrk</key>
  <string>dotabove.mrk.glif</string>
  <key>dotaboveSymbol-ar</key>
  <string>dotaboveS_ymbol-ar.glif</string>
  <key>dotbelow.mrk</key>
  <string>dotbelow.mrk.glif</string>
  <key>dotbelowSymbol-ar</key>
  <string>dotbelowS_ymbol-ar.glif</string>
  <key>doubleverticalbarbelow.mr</key>
  <string>doubleverticalbarbelow.mr.glif</string>
  <key>doubleverticalbarbelowSymbol-ar</key>
  <string>doubleverticalbarbelowS_ymbol-ar.glif</string>
  <key>dul-ar</key>
  <string>dul-ar.glif</string>
  <key>dyeh-ar</key>
  <string>dyeh-ar.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e-ar</key>
  <string>e-ar.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight-ar</key>
  <string>eight-ar.glif</string>
  <key>eight-persian</key>
  <string>eight-persian.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fatha.mrk</key>
  <string>fatha.mrk.glif</string>
  <key>fathatan-ar</key>
  <string>fathatan-ar.glif</string>
  <key>fathatan.mrk</key>
  <string>fathatan.mrk.glif</string>
  <key>feh-ar</key>
  <string>feh-ar.glif</string>
  <key>fehAfrican-ar</key>
  <string>fehA_frican-ar.glif</string>
  <key>fehDotbelow-ar</key>
  <string>fehD_otbelow-ar.glif</string>
  <key>fehDotbelowThreedotsabove-ar</key>
  <string>fehD_otbelowT_hreedotsabove-ar.glif</string>
  <key>fehDotless-ar</key>
  <string>fehD_otless-ar.glif</string>
  <key>fehDotless.fina.skl</key>
  <string>fehD_otless.fina.skl.glif</string>
  <key>fehDotless.init.skl</key>
  <string>fehD_otless.init.skl.glif</string>
  <key>fehDotless.isol.skl</key>
  <string>fehD_otless.isol.skl.glif</string>
  <key>fehDotless.medi.skl</key>
  <string>fehD_otless.medi.skl.glif</string>
  <key>fehDotmovedbelow-ar</key>
  <string>fehD_otmovedbelow-ar.glif</string>
  <key>fehThreedotsbelow-ar</key>
  <string>fehT_hreedotsbelow-ar.glif</string>
  <key>fehThreedotsupbelow-ar</key>
  <string>fehT_hreedotsupbelow-ar.glif</string>
  <key>fehTwodotsbelow-ar</key>
  <string>fehT_wodotsbelow-ar.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five-ar</key>
  <string>five-ar.glif</string>
  <key>five-persian</key>
  <string>five-persian.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four-ar</key>
  <string>four-ar.glif</string>
  <key>four-persian</key>
  <string>four-persian.glif</string>
  <key>fourdotabove.mrk</key>
  <string>fourdotabove.mrk.glif</string>
  <key>fourdotbelow.mrk</key>
  <string>fourdotbelow.mrk.glif</string>
  <key>fourdotsaboveSymbol-ar</key>
  <string>fourdotsaboveS_ymbol-ar.glif</string>
  <key>fourdotsbelowSymbol-ar</key>
  <string>fourdotsbelowS_ymbol-ar.glif</string>
  <key>fullstop-ar</key>
  <string>fullstop-ar.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gaf-ar</key>
  <string>gaf-ar.glif</string>
  <key>gafInvertedstroke-ar</key>
  <string>gafI_nvertedstroke-ar.glif</string>
  <key>gafInvertedstroke.fina.skl</key>
  <string>gafI_nvertedstroke.fina.skl.glif</string>
  <key>gafInvertedstroke.init.skl</key>
  <string>gafI_nvertedstroke.init.skl.glif</string>
  <key>gafInvertedstroke.isol.skl</key>
  <string>gafI_nvertedstroke.isol.skl.glif</string>
  <key>gafInvertedstroke.medi.skl</key>
  <string>gafI_nvertedstroke.medi.skl.glif</string>
  <key>gafRing-ar</key>
  <string>gafR_ing-ar.glif</string>
  <key>gafThreedots-ar</key>
  <string>gafT_hreedots-ar.glif</string>
  <key>gafTwodotsbelow-ar</key>
  <string>gafT_wodotsbelow-ar.glif</string>
  <key>ghain-ar</key>
  <string>ghain-ar.glif</string>
  <key>ghainDotbelow-ar</key>
  <string>ghainD_otbelow-ar.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>gueh-ar</key>
  <string>gueh-ar.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hah-ar</key>
  <string>hah-ar.glif</string>
  <key>hah.fina.skl</key>
  <string>hah.fina.skl.glif</string>
  <key>hah.init.skl</key>
  <string>hah.init.skl.glif</string>
  <key>hah.isol.skl</key>
  <string>hah.isol.skl.glif</string>
  <key>hah.medi.skl</key>
  <string>hah.medi.skl.glif</string>
  <key>hahHamzaabove-ar</key>
  <string>hahH_amzaabove-ar.glif</string>
  <key>hahTahTwodotshorizontalabove-ar</key>
  <string>hahT_ahT_wodotshorizontalabove-ar.glif</string>
  <key>hahTahabove-ar</key>
  <string>hahT_ahabove-ar.glif</string>
  <key>hahTahbelow-ar</key>
  <string>hahT_ahbelow-ar.glif</string>
  <key>hahThreedotsabove-ar</key>
  <string>hahT_hreedotsabove-ar.glif</string>
  <key>hahThreedotsupbelow-ar</key>
  <string>hahT_hreedotsupbelow-ar.glif</string>
  <key>hahTwodotshorizontalabove-ar</key>
  <string>hahT_wodotshorizontalabove-ar.glif</string>
  <key>hahTwodotsverticalabove-ar</key>
  <string>hahT_wodotsverticalabove-ar.glif</string>
  <key>hamza-ar</key>
  <string>hamza-ar.glif</string>
  <key>hamza.mrk</key>
  <string>hamza.mrk.glif</string>
  <key>hamzabelow.mrk</key>
  <string>hamzabelow.mrk.glif</string>
  <key>heh-ar</key>
  <string>heh-ar.glif</string>
  <key>heh.fina.skl</key>
  <string>heh.fina.skl.glif</string>
  <key>heh.fina.skl.ss01</key>
  <string>heh.fina.skl.ss01.glif</string>
  <key>heh.init.skl</key>
  <string>heh.init.skl.glif</string>
  <key>heh.isol.skl</key>
  <string>heh.isol.skl.glif</string>
  <key>heh.medi.skl</key>
  <string>heh.medi.skl.glif</string>
  <key>hehDoachashmee-ar</key>
  <string>hehD_oachashmee-ar.glif</string>
  <key>hehDoachashmee.fina.skl</key>
  <string>hehD_oachashmee.fina.skl.glif</string>
  <key>hehDoachashmee.isol.skl</key>
  <string>hehD_oachashmee.isol.skl.glif</string>
  <key>hehHamzaabove-ar</key>
  <string>hehH_amzaabove-ar.glif</string>
  <key>hehVinvertedabove-ar</key>
  <string>hehV_invertedabove-ar.glif</string>
  <key>hehgoal-ar</key>
  <string>hehgoal-ar.glif</string>
  <key>hehgoal.init.skl</key>
  <string>hehgoal.init.skl.glif</string>
  <key>hehgoal.medi.skl</key>
  <string>hehgoal.medi.skl.glif</string>
  <key>hehgoalHamzaabove-ar</key>
  <string>hehgoalH_amzaabove-ar.glif</string>
  <key>highhamza-ar</key>
  <string>highhamza-ar.glif</string>
  <key>highhamzaAlef-ar</key>
  <string>highhamzaA_lef-ar.glif</string>
  <key>highhamzaWaw-ar</key>
  <string>highhamzaW_aw-ar.glif</string>
  <key>highhamzaYeh-ar</key>
  <string>highhamzaY_eh-ar.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jeem-ar</key>
  <string>jeem-ar.glif</string>
  <key>jeemTwodotsabove-ar</key>
  <string>jeemT_wodotsabove-ar.glif</string>
  <key>jeh-ar</key>
  <string>jeh-ar.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kaf-ar</key>
  <string>kaf-ar.glif</string>
  <key>kaf.fina.skl</key>
  <string>kaf.fina.skl.glif</string>
  <key>kaf.isol.skl</key>
  <string>kaf.isol.skl.glif</string>
  <key>kafDotabove-ar</key>
  <string>kafD_otabove-ar.glif</string>
  <key>kafDotbelow-ar</key>
  <string>kafD_otbelow-ar.glif</string>
  <key>kafRing-ar</key>
  <string>kafR_ing-ar.glif</string>
  <key>kafThreedotsbelow-ar</key>
  <string>kafT_hreedotsbelow-ar.glif</string>
  <key>kafTwodotshorizontalabove-ar</key>
  <string>kafT_wodotshorizontalabove-ar.glif</string>
  <key>kafswash-ar</key>
  <string>kafswash-ar.glif</string>
  <key>kafswash.fina.skl</key>
  <string>kafswash.fina.skl.glif</string>
  <key>kafswash.init.skl</key>
  <string>kafswash.init.skl.glif</string>
  <key>kafswash.isol.skl</key>
  <string>kafswash.isol.skl.glif</string>
  <key>kafswash.medi.skl</key>
  <string>kafswash.medi.skl.glif</string>
  <key>kashida-ar</key>
  <string>kashida-ar.glif</string>
  <key>kashidaFina</key>
  <string>kashidaF_ina.glif</string>
  <key>kasra.mrk</key>
  <string>kasra.mrk.glif</string>
  <key>kasratan-ar</key>
  <string>kasratan-ar.glif</string>
  <key>kasratan.mrk</key>
  <string>kasratan.mrk.glif</string>
  <key>keheh-ar</key>
  <string>keheh-ar.glif</string>
  <key>keheh.fina.skl</key>
  <string>keheh.fina.skl.glif</string>
  <key>keheh.init.skl</key>
  <string>keheh.init.skl.glif</string>
  <key>keheh.isol.skl</key>
  <string>keheh.isol.skl.glif</string>
  <key>keheh.medi.skl</key>
  <string>keheh.medi.skl.glif</string>
  <key>kehehDotabove-ar</key>
  <string>kehehD_otabove-ar.glif</string>
  <key>kehehThreedotsabove-ar</key>
  <string>kehehT_hreedotsabove-ar.glif</string>
  <key>kehehThreedotsbelow-ar</key>
  <string>kehehT_hreedotsbelow-ar.glif</string>
  <key>kehehThreedotsupbelow-ar</key>
  <string>kehehT_hreedotsupbelow-ar.glif</string>
  <key>kehehTwodotshorizontalabove-ar</key>
  <string>kehehT_wodotshorizontalabove-ar.glif</string>
  <key>khah-ar</key>
  <string>khah-ar.glif</string>
  <key>kirghizoe-ar</key>
  <string>kirghizoe-ar.glif</string>
  <key>kirghizyu-ar</key>
  <string>kirghizyu-ar.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lam-ar</key>
  <string>lam-ar.glif</string>
  <key>lam.fina.skl</key>
  <string>lam.fina.skl.glif</string>
  <key>lam.init.skl</key>
  <string>lam.init.skl.glif</string>
  <key>lam.init.skl.ss01</key>
  <string>lam.init.skl.ss01.glif</string>
  <key>lam.isol.skl</key>
  <string>lam.isol.skl.glif</string>
  <key>lam.medi.skl</key>
  <string>lam.medi.skl.glif</string>
  <key>lam.medi.skl.ss01</key>
  <string>lam.medi.skl.ss01.glif</string>
  <key>lamBar-ar</key>
  <string>lamB_ar-ar.glif</string>
  <key>lamDotabove-ar</key>
  <string>lamD_otabove-ar.glif</string>
  <key>lamDoublebar-ar</key>
  <string>lamD_oublebar-ar.glif</string>
  <key>lamDoublebar.fina.skl</key>
  <string>lamD_oublebar.fina.skl.glif</string>
  <key>lamDoublebar.init.skl</key>
  <string>lamD_oublebar.init.skl.glif</string>
  <key>lamDoublebar.isol.skl</key>
  <string>lamD_oublebar.isol.skl.glif</string>
  <key>lamDoublebar.medi.skl</key>
  <string>lamD_oublebar.medi.skl.glif</string>
  <key>lamThreedotsabove-ar</key>
  <string>lamT_hreedotsabove-ar.glif</string>
  <key>lamThreedotsbelow-ar</key>
  <string>lamT_hreedotsbelow-ar.glif</string>
  <key>lamVabove-ar</key>
  <string>lamV_above-ar.glif</string>
  <key>lefttorightmark</key>
  <string>lefttorightmark.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>madda-ar</key>
  <string>madda-ar.glif</string>
  <key>madda.mrk</key>
  <string>madda.mrk.glif</string>
  <key>meem-ar</key>
  <string>meem-ar.glif</string>
  <key>meem.fina.skl</key>
  <string>meem.fina.skl.glif</string>
  <key>meem.init.skl</key>
  <string>meem.init.skl.glif</string>
  <key>meem.isol.skl</key>
  <string>meem.isol.skl.glif</string>
  <key>meem.medi.skl</key>
  <string>meem.medi.skl.glif</string>
  <key>meemDotabove-ar</key>
  <string>meemD_otabove-ar.glif</string>
  <key>meemDotbelow-ar</key>
  <string>meemD_otbelow-ar.glif</string>
  <key>meemThreedotsabove-ar</key>
  <string>meemT_hreedotsabove-ar.glif</string>
  <key>meemabove.mrk</key>
  <string>meemabove.mrk.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>ng-ar</key>
  <string>ng-ar.glif</string>
  <key>ngoeh-ar</key>
  <string>ngoeh-ar.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine-ar</key>
  <string>nine-ar.glif</string>
  <key>nine-persian</key>
  <string>nine-persian.glif</string>
  <key>noon-ar</key>
  <string>noon-ar.glif</string>
  <key>noon.fina.skl</key>
  <string>noon.fina.skl.glif</string>
  <key>noon.isol.skl</key>
  <string>noon.isol.skl.glif</string>
  <key>noonAfrican-ar</key>
  <string>noonA_frican-ar.glif</string>
  <key>noonDotbelow-ar</key>
  <string>noonD_otbelow-ar.glif</string>
  <key>noonRing-ar</key>
  <string>noonR_ing-ar.glif</string>
  <key>noonTahabove-ar</key>
  <string>noonT_ahabove-ar.glif</string>
  <key>noonThreedotsabove-ar</key>
  <string>noonT_hreedotsabove-ar.glif</string>
  <key>noonTwodotsbelow-ar</key>
  <string>noonT_wodotsbelow-ar.glif</string>
  <key>noonVabove-ar</key>
  <string>noonV_above-ar.glif</string>
  <key>noonabove.mrk</key>
  <string>noonabove.mrk.glif</string>
  <key>noonghunna-ar</key>
  <string>noonghunna-ar.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>nyeh-ar</key>
  <string>nyeh-ar.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oe-ar</key>
  <string>oe-ar.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one-ar</key>
  <string>one-ar.glif</string>
  <key>one-persian</key>
  <string>one-persian.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>peh-ar</key>
  <string>peh-ar.glif</string>
  <key>pehMeemabove-ar</key>
  <string>pehM_eemabove-ar.glif</string>
  <key>peheh-ar</key>
  <string>peheh-ar.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>percent-ar</key>
  <string>percent-ar.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>qaf-ar</key>
  <string>qaf-ar.glif</string>
  <key>qafAfrican-ar</key>
  <string>qafA_frican-ar.glif</string>
  <key>qafDotabove-ar</key>
  <string>qafD_otabove-ar.glif</string>
  <key>qafDotbelow-ar</key>
  <string>qafD_otbelow-ar.glif</string>
  <key>qafDotless-ar</key>
  <string>qafD_otless-ar.glif</string>
  <key>qafDotless.fina.skl</key>
  <string>qafD_otless.fina.skl.glif</string>
  <key>qafDotless.isol.skl</key>
  <string>qafD_otless.isol.skl.glif</string>
  <key>qafThreedotsabove-ar</key>
  <string>qafT_hreedotsabove-ar.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>question-ar</key>
  <string>question-ar.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>reh-ar</key>
  <string>reh-ar.glif</string>
  <key>reh.fina.skl</key>
  <string>reh.fina.skl.glif</string>
  <key>reh.isol.skl</key>
  <string>reh.isol.skl.glif</string>
  <key>rehDotbelow-ar</key>
  <string>rehD_otbelow-ar.glif</string>
  <key>rehDotbelowdotabove-ar</key>
  <string>rehD_otbelowdotabove-ar.glif</string>
  <key>rehDotbelowdotabove.fina.skl</key>
  <string>rehD_otbelowdotabove.fina.skl.glif</string>
  <key>rehDotbelowdotabove.isol.skl</key>
  <string>rehD_otbelowdotabove.isol.skl.glif</string>
  <key>rehFourdots-ar</key>
  <string>rehF_ourdots-ar.glif</string>
  <key>rehHamzaabove-ar</key>
  <string>rehH_amzaabove-ar.glif</string>
  <key>rehLoop-ar</key>
  <string>rehL_oop-ar.glif</string>
  <key>rehLoop.fina.skl</key>
  <string>rehL_oop.fina.skl.glif</string>
  <key>rehLoop.isol.skl</key>
  <string>rehL_oop.isol.skl.glif</string>
  <key>rehNoonabove-ar</key>
  <string>rehN_oonabove-ar.glif</string>
  <key>rehRing-ar</key>
  <string>rehR_ing-ar.glif</string>
  <key>rehStroke-ar</key>
  <string>rehS_troke-ar.glif</string>
  <key>rehTwodots-ar</key>
  <string>rehT_wodots-ar.glif</string>
  <key>rehTwodotshorizontalaboveTahabove-ar</key>
  <string>rehT_wodotshorizontalaboveT_ahabove-ar.glif</string>
  <key>rehTwodotsverticalabove-ar</key>
  <string>rehT_wodotsverticalabove-ar.glif</string>
  <key>rehVbelow-ar</key>
  <string>rehV_below-ar.glif</string>
  <key>rehVinvertedabove-ar</key>
  <string>rehV_invertedabove-ar.glif</string>
  <key>rehv-ar</key>
  <string>rehv-ar.glif</string>
  <key>righttoleftmark</key>
  <string>righttoleftmark.glif</string>
  <key>ring.mrk</key>
  <string>ring.mrk.glif</string>
  <key>ringSymbol-ar</key>
  <string>ringS_ymbol-ar.glif</string>
  <key>rnoon-ar</key>
  <string>rnoon-ar.glif</string>
  <key>rreh-ar</key>
  <string>rreh-ar.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sad-ar</key>
  <string>sad-ar.glif</string>
  <key>sad.fina.skl</key>
  <string>sad.fina.skl.glif</string>
  <key>sad.init.skl</key>
  <string>sad.init.skl.glif</string>
  <key>sad.isol.skl</key>
  <string>sad.isol.skl.glif</string>
  <key>sad.medi.skl</key>
  <string>sad.medi.skl.glif</string>
  <key>sadThreedots-ar</key>
  <string>sadT_hreedots-ar.glif</string>
  <key>sadThreedotsbelow-ar</key>
  <string>sadT_hreedotsbelow-ar.glif</string>
  <key>sadTwodotsbelow-ar</key>
  <string>sadT_wodotsbelow-ar.glif</string>
  <key>sadabove.mrk</key>
  <string>sadabove.mrk.glif</string>
  <key>sarkesh.mrk</key>
  <string>sarkesh.mrk.glif</string>
  <key>seen-ar</key>
  <string>seen-ar.glif</string>
  <key>seen.fina.skl</key>
  <string>seen.fina.skl.glif</string>
  <key>seen.init.skl</key>
  <string>seen.init.skl.glif</string>
  <key>seen.init.skl.ss02</key>
  <string>seen.init.skl.ss02.glif</string>
  <key>seen.isol.skl</key>
  <string>seen.isol.skl.glif</string>
  <key>seen.isol.skl.ss02</key>
  <string>seen.isol.skl.ss02.glif</string>
  <key>seen.medi.skl</key>
  <string>seen.medi.skl.glif</string>
  <key>seenDotbelowDotabove-ar</key>
  <string>seenD_otbelowD_otabove-ar.glif</string>
  <key>seenFourdotsabove-ar</key>
  <string>seenF_ourdotsabove-ar.glif</string>
  <key>seenTahTwodotshorizontalabove-ar</key>
  <string>seenT_ahT_wodotshorizontalabove-ar.glif</string>
  <key>seenThreedotsbelow-ar</key>
  <string>seenT_hreedotsbelow-ar.glif</string>
  <key>seenTwodotshorizontalabove-ar</key>
  <string>seenT_wodotshorizontalabove-ar.glif</string>
  <key>seenVinvertedabove-ar</key>
  <string>seenV_invertedabove-ar.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>semicolon-ar</key>
  <string>semicolon-ar.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven-ar</key>
  <string>seven-ar.glif</string>
  <key>seven-persian</key>
  <string>seven-persian.glif</string>
  <key>shadda.mrk</key>
  <string>shadda.mrk.glif</string>
  <key>sheen-ar</key>
  <string>sheen-ar.glif</string>
  <key>sheenDotbelow-ar</key>
  <string>sheenD_otbelow-ar.glif</string>
  <key>sheenThreedotsbelow-ar</key>
  <string>sheenT_hreedotsbelow-ar.glif</string>
  <key>sindhiampersand-ar</key>
  <string>sindhiampersand-ar.glif</string>
  <key>sindhipostpositionmen-ar</key>
  <string>sindhipostpositionmen-ar.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six-ar</key>
  <string>six-ar.glif</string>
  <key>six-persian</key>
  <string>six-persian.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sukun.mrk</key>
  <string>sukun.mrk.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tah-ar</key>
  <string>tah-ar.glif</string>
  <key>tah.fina.skl</key>
  <string>tah.fina.skl.glif</string>
  <key>tah.init.skl</key>
  <string>tah.init.skl.glif</string>
  <key>tah.isol.skl</key>
  <string>tah.isol.skl.glif</string>
  <key>tah.medi.skl</key>
  <string>tah.medi.skl.glif</string>
  <key>tahThreedots-ar</key>
  <string>tahT_hreedots-ar.glif</string>
  <key>tahTwodotsabove-ar</key>
  <string>tahT_wodotsabove-ar.glif</string>
  <key>tahabove.mrk</key>
  <string>tahabove.mrk.glif</string>
  <key>tahaboveSymbol-ar</key>
  <string>tahaboveS_ymbol-ar.glif</string>
  <key>tahbelow.mrk</key>
  <string>tahbelow.mrk.glif</string>
  <key>tahbelowSymbol-ar</key>
  <string>tahbelowS_ymbol-ar.glif</string>
  <key>tcheh-ar</key>
  <string>tcheh-ar.glif</string>
  <key>tchehDotabove-ar</key>
  <string>tchehD_otabove-ar.glif</string>
  <key>tcheheh-ar</key>
  <string>tcheheh-ar.glif</string>
  <key>teh-ar</key>
  <string>teh-ar.glif</string>
  <key>tehMarbuta-ar</key>
  <string>tehM_arbuta-ar.glif</string>
  <key>tehMarbutagoal-ar</key>
  <string>tehM_arbutagoal-ar.glif</string>
  <key>tehRing-ar</key>
  <string>tehR_ing-ar.glif</string>
  <key>tehTehabove-ar</key>
  <string>tehT_ehabove-ar.glif</string>
  <key>tehThreedotsdown-ar</key>
  <string>tehT_hreedotsdown-ar.glif</string>
  <key>tehThreedotsupbelow-ar</key>
  <string>tehT_hreedotsupbelow-ar.glif</string>
  <key>tehabove.mrk</key>
  <string>tehabove.mrk.glif</string>
  <key>teheh-ar</key>
  <string>teheh-ar.glif</string>
  <key>thal-ar</key>
  <string>thal-ar.glif</string>
  <key>theh-ar</key>
  <string>theh-ar.glif</string>
  <key>thousandseparator-ar</key>
  <string>thousandseparator-ar.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three-ar</key>
  <string>three-ar.glif</string>
  <key>three-persian</key>
  <string>three-persian.glif</string>
  <key>threedotabove.mrk</key>
  <string>threedotabove.mrk.glif</string>
  <key>threedotbelow.mrk</key>
  <string>threedotbelow.mrk.glif</string>
  <key>threedotbelow.mrk.ss01</key>
  <string>threedotbelow.mrk.ss01.glif</string>
  <key>threedotsdownaboveSymbol-ar</key>
  <string>threedotsdownaboveS_ymbol-ar.glif</string>
  <key>threedotsdownbelowSymbol-ar</key>
  <string>threedotsdownbelowS_ymbol-ar.glif</string>
  <key>threedotsupaboveSymbol-ar</key>
  <string>threedotsupaboveS_ymbol-ar.glif</string>
  <key>threedotsupbelowSymbol-ar</key>
  <string>threedotsupbelowS_ymbol-ar.glif</string>
  <key>tteh-ar</key>
  <string>tteh-ar.glif</string>
  <key>tteheh-ar</key>
  <string>tteheh-ar.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two-ar</key>
  <string>two-ar.glif</string>
  <key>two-persian</key>
  <string>two-persian.glif</string>
  <key>twodotshorizontalaboveSymbol-ar</key>
  <string>twodotshorizontalaboveS_ymbol-ar.glif</string>
  <key>twodotshorizontalbelowSymbol-ar</key>
  <string>twodotshorizontalbelowS_ymbol-ar.glif</string>
  <key>twodotsverticalaboveSymbol-ar</key>
  <string>twodotsverticalaboveS_ymbol-ar.glif</string>
  <key>twodotsverticalbelowSymbol-ar</key>
  <string>twodotsverticalbelowS_ymbol-ar.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u-ar</key>
  <string>u-ar.glif</string>
  <key>uHamzaabove-ar</key>
  <string>uH_amzaabove-ar.glif</string>
  <key>uHamzaabove-ar.fina</key>
  <string>uH_amzaabove-ar.fina.glif</string>
  <key>uHamzaabove-ar.isol</key>
  <string>uH_amzaabove-ar.isol.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni08B5</key>
  <string>uni08B_5.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>vabove.mrk</key>
  <string>vabove.mrk.glif</string>
  <key>vbelow.mrk</key>
  <string>vbelow.mrk.glif</string>
  <key>ve-ar</key>
  <string>ve-ar.glif</string>
  <key>veh-ar</key>
  <string>veh-ar.glif</string>
  <key>vinvertedabove.mrk</key>
  <string>vinvertedabove.mrk.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wavyhamzaabove.mrk</key>
  <string>wavyhamzaabove.mrk.glif</string>
  <key>wavyhamzabelow.mrk</key>
  <string>wavyhamzabelow.mrk.glif</string>
  <key>waw-ar</key>
  <string>waw-ar.glif</string>
  <key>waw.fina.skl</key>
  <string>waw.fina.skl.glif</string>
  <key>waw.isol.skl</key>
  <string>waw.isol.skl.glif</string>
  <key>wawDotabove-ar</key>
  <string>wawD_otabove-ar.glif</string>
  <key>wawDotcenter-ar</key>
  <string>wawD_otcenter-ar.glif</string>
  <key>wawDotcenter.fina.skl</key>
  <string>wawD_otcenter.fina.skl.glif</string>
  <key>wawDotcenter.isol.skl</key>
  <string>wawD_otcenter.isol.skl.glif</string>
  <key>wawHamzaabove-ar</key>
  <string>wawH_amzaabove-ar.glif</string>
  <key>wawStraight-ar</key>
  <string>wawS_traight-ar.glif</string>
  <key>wawStraight.skl</key>
  <string>wawS_traight.skl.glif</string>
  <key>wawTwodots-ar</key>
  <string>wawT_wodots-ar.glif</string>
  <key>wawring-ar</key>
  <string>wawring-ar.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yeh-ar</key>
  <string>yeh-ar.glif</string>
  <key>yeh-farsi</key>
  <string>yeh-farsi.glif</string>
  <key>yeh.fina.skl</key>
  <string>yeh.fina.skl.glif</string>
  <key>yeh.fina.skl.ss02</key>
  <string>yeh.fina.skl.ss02.glif</string>
  <key>yeh.isol.skl</key>
  <string>yeh.isol.skl.glif</string>
  <key>yeh.isol.skl.ss02</key>
  <string>yeh.isol.skl.ss02.glif</string>
  <key>yehHamzaabove-ar</key>
  <string>yehH_amzaabove-ar.glif</string>
  <key>yehKashmiri-ar</key>
  <string>yehK_ashmiri-ar.glif</string>
  <key>yehRohingya-ar</key>
  <string>yehR_ohingya-ar.glif</string>
  <key>yehTail-ar</key>
  <string>yehT_ail-ar.glif</string>
  <key>yehTail.fina.skl</key>
  <string>yehT_ail.fina.skl.glif</string>
  <key>yehTail.isol.skl</key>
  <string>yehT_ail.isol.skl.glif</string>
  <key>yehThreedotsabove-farsi</key>
  <string>yehT_hreedotsabove-farsi.glif</string>
  <key>yehThreedotsbelow-ar</key>
  <string>yehT_hreedotsbelow-ar.glif</string>
  <key>yehTwodotsabove-farsi</key>
  <string>yehT_wodotsabove-farsi.glif</string>
  <key>yehTwodotsbelowDotabove-ar</key>
  <string>yehT_wodotsbelowD_otabove-ar.glif</string>
  <key>yehTwodotsbelowHamzaabove-ar</key>
  <string>yehT_wodotsbelowH_amzaabove-ar.glif</string>
  <key>yehTwodotsbelowNoonabove-ar</key>
  <string>yehT_wodotsbelowN_oonabove-ar.glif</string>
  <key>yehVabove-ar</key>
  <string>yehV_above-ar.glif</string>
  <key>yehVinverted-farsi</key>
  <string>yehV_inverted-farsi.glif</string>
  <key>yehbarree-ar</key>
  <string>yehbarree-ar.glif</string>
  <key>yehbarree.fina.skl</key>
  <string>yehbarree.fina.skl.glif</string>
  <key>yehbarree.isol.skl</key>
  <string>yehbarree.isol.skl.glif</string>
  <key>yehbarreeHamzaabove-ar</key>
  <string>yehbarreeH_amzaabove-ar.glif</string>
  <key>yu-ar</key>
  <string>yu-ar.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zah-ar</key>
  <string>zah-ar.glif</string>
  <key>zain-ar</key>
  <string>zain-ar.glif</string>
  <key>zainVinvertedabove-ar</key>
  <string>zainV_invertedabove-ar.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero-ar</key>
  <string>zero-ar.glif</string>
  <key>zero-persian</key>
  <string>zero-persian.glif</string>
  <key>zerowidthjoiner</key>
  <string>zerowidthjoiner.glif</string>
  <key>zerowidthnonjoiner</key>
  <string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
